.searchPage {
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    overflow: hidden;
}
.searchPage-bar {
    width: 70%;
    display: none;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    background: #ffff;
    border-radius: 30px;
    padding: 8px;
}
.searchPage-bar input {
    width: 80%;
    font-size: 14px;
    text-overflow: ellipsis;
    border:none;
}
.searchPage-bar input:focus {
    border: none;
    outline: none;
}

.playlist-container {
    grid-gap: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

@media screen and (max-width: 650px) {
    .searchPage {
        padding: 20px 15px;
        padding-bottom: 40px;
    }
    .searchPage-bar {
        display: flex;
    }
    .playlist-container {
        grid-gap:10px;
        grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
    }
}

